/*right*/
#right{
    display: flex;
    flex-direction: column;

    width: 100%;

    text-align: center;
}
.drive{
    font-size: 1.5em;

    background-color: #c0c7d3;

    max-width: 80%;
    width: 80%;
    padding: 1.2em;
    margin: 1.1em auto;
    border: 1.2em;
    border-radius: 10px;
}